\#*\#*
.\#*
*~
*.bak
*.orig
*.swo
*.swp
*.o
*.out
vu-colour-srgb
vu-concat
vu-dissolve
vu-flip
vu-flop
vu-frame-to-image
vu-image-to-frame
vu-invert-luma
vu-next-frame
vu-read-head
vu-repeat
vu-set-alpha
vu-set-luma
vu-single-colour
vu-stack
vu-write-head
